<div class="wrapper">
  <form [formGroup]="userForm" (ngSubmit)="submit()">
    <div class="form-item">
      <label for="login">Login</label>
      <input placeholder="Your Login..." name="name" formControlName="name">
      <p *ngIf="userForm.controls['name'].invalid && userForm.controls['name'].touched && userForm.controls['name'].errors?.['required']">The field must not be empty</p>
      <p *ngIf="userForm.controls['name'].invalid && userForm.controls['name'].touched && userForm.controls['name'].errors?.['minlength']">
        The name must contain more than {{userForm.controls['name'].errors?.['minlength']['requiredLength']}} characters.
      </p>
      <p *ngIf="userForm.controls['name'].invalid && userForm.controls['name'].touched && userForm.controls['name'].errors?.['pattern']">Only latin letters are allowed</p>
    </div>
    <div class="form-item">
      <label for="email">Email</label>
      <input id="email" placeholder="Your email..." name="email" formControlName="email">
      <p *ngIf="userForm.controls['email'].invalid && userForm.controls['email'].touched">Enter correct email</p> 
      <p *ngIf="userForm.controls['email'].invalid && userForm.controls['email'].touched && userForm.controls['email'].pending">Checking email...</p>
      <p *ngIf="userForm.controls['email'].errors?.['uniqEmail']">This email address already exists</p>
  
    </div>
    <div class="form-item">
      <label for="password">Password</label>
      <input type="password" id="password" placeholder="Your password..." name="password" formControlName="password">
      <p *ngIf="userForm.controls['password'].invalid && userForm.controls['password'].touched && userForm.controls['password'].errors?.['required']">The field must not be empty</p>
      <p *ngIf="userForm.controls['password'].invalid && userForm.controls['password'].touched && userForm.controls['password'].errors?.['minlength']">The password must contain more than {{userForm.controls['password'].errors?.['minlength']['requiredLength']}} characters.</p>
    </div>
    <button type="submit">Submit</button>
  </form>
</div>